* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
.conteudo-items {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: aqua; */
}
.grid {
  padding: 40px;
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 auto;
  align-items:flex-end;
}