* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #240244;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

a {
  font-size: 1.8rem;
  color: #f15d9f;
  
}
li{
  padding:20px 30px;
  background-color: #3d1266;
  margin: 10px 0;
  border-radius: 4px;
}
i {
  text-align: center;
  padding: 5px;
}