.main {
  width: 100%;
  max-width: 60rem;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 1.5em;
  background-color:#d8d8ed ;
 }

aside {
  width: 100%;
}

article {
  width: 100%;
  background-color: aquamarine;
}

article>*+* {
  margin-top: 1em;
  display: block;
}

.titulo-portifolio {
  
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.2;
}

.redes {
  background-color: aqua;
 
}
.icon-rede {
  background-color: aqua;
  display: inline-block;
  line-height: 1.25rem;
  text-align: center;
  
}

/* img {
  width: 100%;
} */

@media (max-width: 768px) {
  section {
    flex-wrap: wrap;
  }
}